body,
.title,
.button,
.Course-img {
  border-radius: 10px;
}
body {
  position: relative;
  font-family: sans-serif;
  line-height: 1.5;
}
.cotainer {
  position: relative;
  width: 770px;
  margin: 20px auto;
  border: 4px solid #000000;
  padding: 15px;
}

/* sale butttom */
.sale-button {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotate(-35deg) translate(-42px, -5px);
  transform-origin: top left;
  color: #f0f8ff;
  background-color: #ff0000;
  font-size: 18px;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
  letter-spacing: 3px; /* مسافة بين كل حرف */
  text-transform: uppercase;
  z-index: 10;
}

.title {
  color: #0039fe;
  background-color: #f0f8ff;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 4px solid #000000;
}

.price {
  font-size: 24px;
}
.description {
  font-size: 12px;
  color: #4f4e4e;
  text-transform: uppercase;

  font-weight: bold;
}

.website-link :link,
.website-link :visited {
  font-size: 16px;
  color: #000000;
}
.website-link:hover {
  text-decoration: none;
}

.course-roadmab {
  text-transform: capitalize;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
}

.frontend-roadmab {
  font-size: 16px;
  text-transform: uppercase;
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  gap: 10px;
}
#li-html {
  border: 2px solid #ffa500;
  padding: 5px 10px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: 0.3s;
}
#li-css {
  border: 2px solid #000ff0;
  padding: 5px 10px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: 0.3s;
}
#li-js {
  border: 2px solid #f6f62d;
  padding: 5px 10px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: 0.3s;
}

.title-of-list {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bold;
}
.list-item {
  font-size: 14px;
  list-style-type: square;
}

.button {
  font-size: 20px;
  background-color: #0039fe;
  color: #ffffff;
  padding: 10px 20px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #4777ff;
  font-size: 22px;
}

/* float */
.Course-img {
  width: 250px;
  float: left;
}
.Price-and-Roadmab {
  width: 250px;
  float: left;
}
.lest {
  width: 250px;
  float: right;
}
.button {
  clear: both;
  text-align: center;
  width: 100%;
}
