h1,
h2,
h3,
h4,
p,
a,
li {
  font-family: sans-serif;
  color: #444444;
}
h1,
h2,
h3 {
  color: #3d4e60;
}
h1 {
  font-size: 32px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
  line-height: 1.5;
}

/* footer p {
  font-size: 18px;
} */

#author {
  font-size: 18px;
  font-style: italic;
}

#copyright {
  font-size: 16px;
}

.related-post {
  list-style: none;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
  font-weight: bold;
}

li:nth-child(even) {
  color: blue;
}

footer p {
  color: #008000;
}

/* styling link */
nav a {
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
}
a {
  color: #0e7c80;
  font-size: 22px;
  text-decoration: none;
}

a:hover {
  color: #031d1e;
  text-decoration: underline;
}
a:active {
  background-color: #1c0d57;
}
