/*h1,
h2,
h3,
h4,
p,
a,
li {
  font-family: sans-serif;
  color: #444;
}*/
* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  font-family: sans-serif;
  color: #444;
}
.container {
  width: 800px;
  margin: 0 auto;
}
h1,
h2,
h3 {
  color: #3d4e60;
}

h1 {
  font-size: 32px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 38px;
  margin-bottom: 30px;
}
h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}
h4 {
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;
  line-height: 1.5;
  margin: 20px 5px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 1.5;
}
li:last-child {
  margin-bottom: 0px;
}

/* footer p {
  font-size: 18px;
} */

#author {
  font-size: 18px;
  font-style: italic;
}

#copyright {
  font-size: 16px;
}

.related-post {
  list-style: none;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 60px;
  height: 80px;
}

aside {
  background-color: #f7f7f7;
  padding: 50px 0px;
  width: 600px;
}

/* styling link */
nav a {
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
}

a:link {
  color: #109ba1;
  text-decoration: none;
}

a:visited {
  color: #3af7fd;
}

a:hover {
  color: #f0035a;
  text-decoration: underline;
}
a:active {
  background-color: black;
}

/* footer colors */
#copyright {
  color: #000000;
}

.post-header {
  margin-bottom: 40px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

article {
  margin-bottom: 60px;
}

.post-img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.reactions {
  position: relative;
  bottom: 50px;
  right: 50px;
}
