/*h1,
h2,
h3,
h4,
p,
a,
li {
  font-family: sans-serif;
  color: #444;
}*/

body {
  font-family: sans-serif;
  color: #444;
}
h1,
h2,
h3 {
  color: #3d4e60;
}
h1 {
  font-size: 32px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
  line-height: 1.5;
}

/* footer p {
  font-size: 18px;
} */

#author {
  font-size: 18px;
  font-style: italic;
}

#copyright {
  font-size: 16px;
}

.related-post {
  list-style: none;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
}

/* styling link */
nav a {
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
}

a:link {
  color: #109ba1;
  text-decoration: none;
}

a:visited {
  color: #3af7fd;
}

a:hover {
  color: #f0035a;
  text-decoration: underline;
}
a:active {
  background-color: black;
}

/* footer colors */
#copyright {
  color: #000000;
}
