* {
  margin: 0;
  padding: 0;
}

body,
.cotainer,
.title,
.button,
.Course-img {
  border-radius: 10px;
}
body {
  position: relative;
  font-family: sans-serif;
  line-height: 1.5;
}
.cotainer {
  position: relative;
  width: 770px;
  margin: 20px auto;
  border: 4px solid #000000;
  padding: 15px;
}

/* sale butttom */
.sale-button {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotate(-35deg) translate(-42px, -5px);
  transform-origin: top left;
  color: #f0f8ff;
  background-color: #ff0000;
  font-size: 17px;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
  letter-spacing: 3px; /* مسافة بين كل حرف */
  text-transform: uppercase;
  z-index: 10;
}

.title {
  color: #0039fe;
  background-color: #f0f8ff;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 2px solid #0039fe;
}

.price {
  font-size: 24px;
  margin-top: 0;
}
.description {
  font-size: 12px;
  color: #4f4e4e;
  text-transform: uppercase;
  font-weight: bold;
}

.website-link :link,
.website-link :visited {
  font-size: 16px;
  color: #000000;
}
.website-link:hover {
  text-decoration: none;
}

.roadmab-text {
  text-transform: capitalize;
  font-weight: bold;
  margin-block-start: 15px;
  margin-block-end: 5px;
}

.roadmab-courses {
  font-size: 16px;
  text-transform: uppercase;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.li-Roadmab {
  background-color: #f9f9f9;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s;
}

.li-html {
  border: 2px solid #ffa500;
}
.li-css {
  border: 2px solid #000ff0;
}
.li-js {
  border: 2px solid #f6f62d;
}

.title-of-list {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
}
.list-item {
  font-size: 16px;
  list-style-type: square;
}

.button {
  font-size: 20px;
  background-color: #0039fe;
  color: #ffffff;
  padding: 10px 20px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  width: 100%;
}
.button:hover {
  background-color: #4777ff;
}

.roadmab-courses {
  display: flex;
  gap: 10px;
}
.Course-img {
  width: 100%;
}
/* Css grid */

.cotainer {
  display: grid;
  grid-template-columns: 240px 1fr 1fr;
  column-gap: 30px;
  row-gap: 20px;
}

.title,
.button {
  grid-column: 1/-1;
}
