body,
.title,
.button,
.Course-img {
  border-radius: 10px;
}
body {
  position: relative;
  font-family: sans-serif;
  border: 4px solid #000000;
  width: 600px;
  line-height: 1.5;
  margin: 20px auto;
  padding: 15px;
}
/* sale butttom */
.sale-button {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotate(-60deg) translate(-20px, -10px);
  transform-origin: top left;
  z-index: 10;
}

.title {
  color: #f0f8ff;
  background-color: #0039fe;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
}

.price {
  font-size: 24px;
}
.description {
  font-size: 12px;
  color: #4f4e4e;
  text-transform: uppercase;

  font-weight: bold;
}

.website-link :link,
.website-link :visited {
  font-size: 16px;
  color: #000000;
}
.website-link:hover {
  text-decoration: none;
}
.title-of-list {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bold;
}
.list-item {
  font-size: 14px;
  list-style-type: square;
}

.button {
  font-size: 20px;
  background-color: #0039fe;
  color: #ffffff;
  padding: 10px 20px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: #4777ff;
  font-size: 22px;
}
