h1,
h2,
h3,
h4,
p,
a,
li {
}

h1 {
  color: rgb(127, 138, 255);
  font-size: 32px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 30px;
  font-family: sans-serif;
}
h3 {
  font-size: 28px;
  font-family: sans-serif;
}
h4 {
  font-size: 26px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
a {
  color: rgb(89, 0, 255);
  font-size: 16px;
  font-family: sans-serif;
}
li {
  font-size: 18px;
  font-family: sans-serif;
}
