h1,
h2,
h3,
h4,
p,
a,
li {
  font-family: sans-serif;
}
h1,
h2,
h3 {
  color: #5a65dd;
}
h1 {
  font-size: 32px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;
  line-height: 1.5;
}
a {
  color: rgb(89, 0, 255);
  font-size: 16px;
}
li {
  font-size: 20px;
  line-height: 1.5;
}

/* footer p {
  font-size: 18px;
} */

#author {
  font-size: 18px;
  font-style: italic;
}

#copyright {
  font-size: 16px;
}

.related-post {
  list-style: none;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}
