h1 {
  color: rgb(127, 138, 255);
  font-size: 30px;
  font-family: sans-serif;
}
h2 {
  font-size: 28px;
  font-family: sans-serif;
}
h3 {
  font-size: 26px;
  font-family: sans-serif;
}
h4 {
  font-size: 24px;
  font-family: sans-serif;
}
a {
  color: rgb(89, 0, 255);
}
